$primaryColor: #ff6060;
.rental-page-container {
    height: fit-content;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-cover {
        width: 335px;
        height: 255px;
        object-fit: cover;
        border-radius: 10px;
    }
    &-info {
        width: 335px;
        display: flex;
        flex-direction: column;
        color: $primaryColor;
        font-size: 500;
        padding-top: 15px;
        &-title {
            font-size: 18px;
            font-size: 500;
            line-height: 1.4;
            padding-bottom: 5px;
        }
        &-location {
            font-size: 14px;
        }
    }
    &-tags-container {
        padding: 10px 0;
        height: fit-content;
        width: 335px;
        display: flex;

        .tag {
            font-size: 10px;
            color: white;
            border-radius: 5px;
            margin-right: 5px;
            background-color: $primaryColor;
            height: 19px;
            text-align: center;
            padding-top: 3px;
            width: 84px;
        }
    }
    &-owner {
        margin: 20px;
        width: 335px;
        display: flex;
        height: 35px;
        justify-content: space-between;
        align-items: center;
        &-stars {
            display: flex;
            flex-direction: row;
            width: 70px;
            height: 30px;

            .star-container {
                width: 15px;
                height: 15px;
            }
        }
        &-info {

            display: flex;
            align-items: center;
            &-name {
                color: $primaryColor;
            }
            &-picture {
                border-radius: 32px;
                height: 32px;
                width: 32px;
                background: #c4c4c4;
            }
        }
    }
}
