$primaryColor: #ff6060;
$secondaryColor: #f6f6f6;
$white: #ffffff;
.rental-page-container {
    height: fit-content;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    //carousel's styles in carousel.scss file
    &-info {
        width: 90%;
        display: flex;
        flex-direction: column;
        &-rental {
            color: $primaryColor;
            font-size: 500;
            padding-top: 15px;
            &-title {
                font-size: 18px;
                font-size: 500;
                line-height: 1.4;
                padding-bottom: 5px;
                @media (min-width: 600px) {
                    font-size: 22px;
                }
                @media (min-width: 1400px) {
                    font-size: 36px;
                }
            }
            &-location {
                font-size: 14px;
                @media (min-width: 600px) {
                    font-size: 16px;
                }
                @media (min-width: 1400px) {
                    font-size: 18px;
                }
            }
            @media (min-width: 1200px) {
                width: 500px;
                align-items: left;
            }
        }

        &-tags {
            padding: 5px 0;
            display: flex;
            flex-direction: row;
            height: fit-content;
            flex-wrap: wrap;
            .tag {
                font-size: 10px;
                color: $white;
                border-radius: 5px;
                margin-right: 5px;
                margin-top: 5px;
                background-color: $primaryColor;
                height: 19px;
                text-align: center;
                padding-top: 3px;
                width: 84px;
                @media (min-width: 600px) {
                    font-size: 12px;
                    height: 22px;
                    width: fit-content;
                    padding: 3px 6px;
                }
                @media (min-width: 1400px) {
                    font-size: 14px;
                    height: 25px;
                    width: fit-content;
                    padding: 3px 6px;
                }
            }
        }
        @media (min-width: 600px) {
            width: 45%;
            position: relative;
            left: 5%;
        }
    }

    &-owner {
        margin: 0px;
        width: 90%;
        display: flex;
        height: 35px;
        justify-content: space-between;
        align-items: center;

        &-stars {
            display: flex;
            height: 35px;
            width: 75px;
            padding-top: 12px;

            @media (min-width: 600px) {
                width: 100px;
                justify-content: flex-end;
            }
            @media (min-width: 120px) {
                width: 140px;
            }

            &-star-container {
                width: 15px;
                height: 15px;
                @media (min-width: 600px) {
                    width: 20px;
                    height: 20px;
                }
                @media (min-width: 1200px) {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        &-info {
            display: flex;
            &-name {
                font-size: 12px;
                color: $primaryColor;
                height: 35px;
                width: 60px;
                margin: 2px 5px;
                text-align: end;
                @media (min-width: 600px) {
                    font-size: 16px;
                    width: 70px;
                    margin-top: 10px;
                }

                @media (min-width: 1200px) {
                    font-size: 18px;
                    margin: 10px 5px;
                    width: 80px;
                }
            }
            &-picture {
                border-radius: 35px;
                height: 35px;
                width: 35px;
                @media (min-width: 600px) {
                    height: 50px;
                    width: 50px;
                    border-radius: 50px;
                }

                @media (min-width: 1200px) {
                    height: 64px;
                    width: 64px;
                    border-radius: 64px;
                }
            }
        }
        @media (min-width: 600px) {
            height: fit-content;
            width: 50%;
            margin: 0;
            flex-direction: column-reverse;
            align-items: end;
        }
        @media (min-width: 1200px) {
        }
    }
    //collapse's styles in collapse.scss file
    @media (min-width: 600px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
    @media (min-width: 1200px) {
        margin: 30px 200px 0px 200px;
    }
}
